<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxy.notebookspringmvc.mapper.NoteMapper">
    <cache/>
    <select id="listNote" resultType="Note">
    select * from note
  </select>
</mapper>